.hero-banner {
    margin-top:em(70);
    min-height:em(275);
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    background: linear-gradient(225.1deg, #252932 29.16%, #050D1D 91.21%);
    position:relative;
    &:after {
        content:'';
        display:block;
        width:em(182);
        height:100%;
        background:url('../img/pattern-1.svg') no-repeat 8px center / cover;
    }
    .container {
        max-width:em(1100);
    }

    h1 {
        letter-spacing: 0.177em;
        margin-bottom:em(45, 48);
    }
    p {
        font-size:em(24);
        line-height:1.25;
        color:#fff;
        font-weight:300;
        margin-bottom:0;
    }
}

.section-content {
    padding-top:100px;
    color:#0D0D0D;
    .container {
        max-width:744px;
    }
    p {
        margin-bottom:em(8);
    }
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
        li {
            position:relative;
            padding-left:em(15);
            display:block;
            font-size:em(16);
            line-height:1.3;
            margin-bottom:em(8);
            font-weight:300;
            &:before {
                content:'';
                width:em(10);
                height:em(10);
                background-color:#0D0D0D;
                border-radius:100%;
                display:inline-block;
                position:absolute;
                top:em(5);
                left:0;
            }
        }
    }
}

.section-divider {
    padding:em(40) em(20);
    .divider-pattern {
        max-width:em(938);
        width:100%;
        height:em(98);
        background:url('../img/pattern-6.svg') no-repeat left center / 100% auto;
    }
}

.section-about {
    display:flex;
    align-items:center;
    justify-content: center;
    .owl-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item {
        padding:0 em(30);
        margin:0 !important;
    }
    .about-card {
        background-color:#E11837;
        padding:em(25) em(30) em(30);
        width:em(354);
        height:em(333);
        .category {
            font-size:em(14);
            line-height:1.4;
            font-weight:400;
            color:#fff;
            text-transform: uppercase;
        }
        .title {
            font-size:em(35);
            font-weight:300;
            line-height:1.2;
            color:#fff;
            letter-spacing: 0.12px;
            margin-bottom:em(15, 35);
        }
        .desc {
            font-size:em(16);
            font-weight:300;
            line-height:1.3;
            color:#fff;
            margin-bottom:em(30);
        }
        .divider {
            height:2px;
            width:100%;
            background-color:#fff;
            margin-bottom:em(25);
        }
        .btn-readmore {
            border:1px solid #fff;
            border-radius:5px;
            width:em(174);
            font-size:em(16);
            font-weight:700;
            height:em(44);
            display:flex;
            align-items:center;
            justify-content:center;
            text-transform: uppercase;
            color:#fff;
            transition:0.3s ease;
            &:hover {
                text-decoration: none;
                color:#E11837;
                background-color:#fff;
            }
        }
    }
}

.section-network {
    margin-top:em(56);
    color:#363636;
    .content-box {
        background-color:#F3F3F3;
        padding:em(63) em(15) em(55) em(188);
        display:flex;
        align-items: flex-start;
        justify-content: flex-start;
        .box-left {
            max-width:em(538);
        }
        .box-right {
            padding-left:em(65);
            padding-top:em(45);
            .box-wrap {
                width:em(355);
            }
            p {
                color:#424B5A;
                font-weight:700;
                font-size:em(18);
                line-height:1.3;
                margin-bottom:em(8, 18);
                text-transform: uppercase;
            }
            .divider {
                width:100%;
                height:2px;
                background-color:#E11837;
            }
            .btn-download {
                border:2px solid #252932;
                border-radius:4px;
                font-weight:700;
                text-transform: uppercase;
                height:44px;
                width:100%;
                display:flex;
                align-items:center;
                justify-content: flex-start;
                color:#424B5A;
                font-size:em(16);
                margin-top:em(18);
                line-height:1.6;
                padding:em(10) em(9);
                transition:0.3s ease;
                svg {
                    margin-right:em(10);
                    .arrow-down {
                        transition:0.3s ease;
                    }
                }
                &:hover {
                    text-decoration: none;
                    background-color:#252932;
                    color:#fff;
                    .arrow-down {
                        fill:#fff;
                    }
                }
            }
        }
        h2 {
            letter-spacing: 0.12px;
            text-transform: uppercase;
            font-weight:300;
            margin-bottom:em(18, 44);
        }

        p {
            margin-bottom:em(9);
        }
        
        .box-column {
            margin-top:em(40);
            .box-row {
                display:flex;
                flex-direction: row;
                margin-bottom:em(3);
            }
            .column {
                &:first-child {
                    max-width:em(175);
                    width:100%;
                }
                p {
                    font-weight:500;
                }
            }
        }
    }
}

.section-accordion {
    color:#424B5A;
    padding:em(56) 15px;
    .accordion-item {
        max-width:em(954);
        width:100%;
        margin:0 auto em(17);
        border:1px solid #58595B;
        position:relative;

        &:last-child {
            margin-bottom:0;
        }

        &.active {
            .btn-trigger {
                img {
                    &.collapse-vertical {
                        transform:rotate(180deg);
                    }
                }
            }
        }
        .accordion-display {
            background-color:#F3F3F3;
            position:relative;
            padding:em(25) em(35);
            p {
                font-size:em(14);
                line-height:1.4;
                color:#0D0D0D;
                font-weight:700;
                margin-bottom:em(5, 14);
            }
            h4 {
                font-weight:300;
                margin:0;
            }
        }
        .accordion-content {
            padding:em(65) em(120);
            display:none;
            p {
                font-size:em(16);
                font-weight:300;
                line-height:1.3;
                margin-bottom:em(8);
            }
        }
        .btn-trigger {
            display:block;
            width:em(56);
            height:em(56);
            position:absolute;
            top:50%;
            right:em(35);
            transform:translateY(-50%);
            img {
                width:100%;
                position:absolute;
                top:0;
                left:0;
                &.collapse-vertical {
                    transition:0.3s ease-in-out;
                    transform-origin: center;
                    transform:rotate(90deg);
                }
            }
        }
    }
}

.section-report {
    padding:em(49) 0 em(56);
    .report-wrap {
        display:flex;
        align-items: center;
        justify-content: center;
        .report-card {
            width:100%;
            max-width:em(641);
            height:em(281);
            margin:0 em(17);
            padding:em(59) em(100) em(69) em(67);
            position:relative;

            &:first-child {
                &:after {
                    content:'';
                    display:block;
                    width:em(116);
                    height:100%;
                    background:url('../img/pattern-2.svg') no-repeat right center / cover;
                    position:absolute;
                    right:0;
                    top:0;
                }
            }

            &:last-child {
                &:after {
                    content:'';
                    display:block;
                    width:em(325);
                    height:em(114);
                    background:url('../img/pattern-3.svg') no-repeat right center / cover;
                    position:absolute;
                    right:0;
                    bottom:0;
                }
            }
            .title {
                min-height:em(84);
                margin-bottom:em(20);
            }
            .btn-learnmore {
                display:flex;
                align-items:center;
                justify-content:center;
                height:em(43);
                font-weight:700;
                font-size:em(16);
                color:#fff;
                border:1px solid #fff;
                border-radius:5px;
                transition:0.3s ease;
                max-width:em(157);
                width:100%;
                &:hover {
                    text-decoration: none;
                    color:#424B5A;
                    background-color:#fff;
                }
            }
        }
    }
}