$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}
html{
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    overflow-x: hidden;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    background-color:#fff;
    
    .main {
        font-size: 1.111vw;
        // font-size: 16px;

        @media screen and (min-width:1600px) {
            font-size: 16px;
        }


        @media screen and (max-width:767px) {
            font-size: 16px;
        }
            
    }
    
}

.section {
    position:relative;
    z-index:1;
}

.container {
    max-width:em(1440);
    margin:0 auto;
}


h1 {
    font-size:em(48);
    line-height:1.2;
    font-weight:700;
    @media screen and (max-width:767px) {
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 2px;
        text-align: left;
    }
}

h2 {
    font-size:em(44);
    line-height:1.18;
    font-weight:300;
    @media screen and (max-width:767px) {
        font-size: 33px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.11999999731779099px;
        text-align: left;
    }
}

h3 {
    font-size:em(35);
    line-height:1.2;
    font-weight:300;

    @media screen and (max-width:767px) {
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.11999999731779099px;
        text-align: left;
    }
}

h4 {
    font-size:em(28);
    line-height:1.25;
    font-weight:300;
}

p {
    font-size:em(16);
    line-height:1.3;
    font-weight:300;
    margin-bottom:em(8);
}

b, strong {
    font-weight:bold;
}

a,img,button,input{
    outline: none !important;
	&:active,
	&:focus,&:hover{
		outline: none !important;
	}
}

.animated-child {
    opacity:0;
    transform:translateY(25px);
}

.gradient-1 {
    background: linear-gradient(225.1deg, #252932 29.16%, #050D1D 91.21%);
}

.gradient-2 {
    background: linear-gradient(225deg, #E11837 0%, #B30E27 100%);
}
.column-checkbox {
    max-width:em(300);
    width:100%;
    @media screen and (max-width:767px) {
        max-width:initial;
    }
}

.chkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      margin:0;
      font-size:em(10);
      line-height:1.35;
      letter-spacing: 0.12px;
      font-weight:400;
      color:#fff;
      padding-left:em(74, 10);
        @media screen and (max-width:767px) {
            min-height:37px;
            padding-top:5px;
        }

    }
  
    // Box.
    & + label:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      position:absolute;
      top:0;
      left:0;
      width: em(37, 10);
      height: em(37, 10);
      background: white;
      transition:0.3s ease;
    }
  
    &:hover + label:before {
      background: #E11837;
    }
    
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    &:checked + label:before {
      background: #E11837;
    }
  
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
.column-field {
    display:flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width:767px) {
        flex-direction: column;
    }
}
.input-field {
    width:100%;
    display:block;
    margin-bottom:em(5);
    
    &.col-field {
        max-width:em(306);
        display:block;
        @media screen and (max-width:767px) {
            max-width:initial;
        }
    }
    input {
        outline: none;
        border:0;
        border-bottom:2px solid #fff;
        background-color:transparent;
        color:#fff;
        width:100%;
        height:em(50);
        padding-left:em(10);

        &::-webkit-input-placeholder { 
            color: #fff;
            font-style: italic;
            font-weight:300;
        }
        
        &:-ms-input-placeholder { 
            color: #fff;
            font-style: italic;
            font-weight:300;
        }
        
        &::placeholder {
            color: #fff;
            font-style: italic;
            font-weight:300;
        }
    }
}