header {
    height:em(93);
    width:100%;
    position:relative;
    border-bottom: 1px solid #E11837;
    @media screen and (max-width:767px) {
        height:em(54);
    }
    .container {
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
        height:100%;
    }
    .logo-wrap {
        padding-top:em(35);
        padding-left:em(33);

        @media screen and (max-width:767px) {
            padding-top:em(16);
            padding-left:em(2);
        }
        a {
            display:block;
            width:em(166);

            @media screen and (max-width:767px) {
                width:em(99);
            }
            img {
                width:100%;
            }
        }
    }

    .navigation {
        @media screen and (max-width:767px) {
            display:none;
        }
    }
    .mobile-navigation {
        display:none;
        height:em(54);
        @media screen and (max-width:767px) {
            display:flex;
            align-items:center;
            justify-content: center;
        }
        a {
            display:block;
            margin-left:em(35);
        }
    }

    ul {
        display:flex;
        align-items: center;
        justify-content: flex-end;
        margin:0;
        padding:0;
        height:100%;
        li {
            height:100%;
            a {
                display:flex;
                align-items: center;
                justify-content: center;
                color:#252932;
                font-size:em(14);
                font-weight:600;
                height:100%;
                white-space: nowrap;
                span {
                    margin-right:em(10, 16);
                    &.icon-ceda {
                        max-width:em(11);
                        width:100%;
                        img {
                            width:100%;
                        }
                    }
                    &.icon-avatar {
                        max-width:em(13);
                        height:em(19);
                        width:100%;
                        img {
                            width:100%;
                            height:100%;
                        }
                    }
                    &.icon-support {
                        max-width:em(16);
                        width:100%;
                        img {
                            width:100%;
                        }
                    }
                    &.icon-phone {
                        max-width:em(8);
                        width:100%;
                        img {
                            width:100%;
                        }
                    }

                }
                &:hover {
                    text-decoration: none;
                    color:#252932;
                }
            }
        }
    }

    .top-nav {
        height:em(33);
        display:flex;
        align-items: center;
        justify-content: flex-end;
        position:relative;
        &:after {
            content:'';
            position:absolute;
            border-bottom: 1px solid #E11837;
            right:-100vw;
            bottom:0;
            width:100vw;
        }
        ul {
            li {
                a {
                    padding:0 em(19, 16);
                    height:100%;
                    transition:background 0.3s ease, border 0.3s ease;
                    border-bottom: 1px solid #E11837;
                    &.active, &:hover {
                        background-color:#A5BB29;
                        border-bottom:1px solid #A5BB29;
                    }
                }
            }
        }
    }
    
    .menu {
        height:em(60);
        display:flex;
        align-items: center;
        justify-content: flex-end;
        ul {
            li {
                a {
                    padding:0 em(20, 16);
                    transition:color 0.3s ease;
                    .search-fill {
                        transition:fill 0.3s ease;
                    }
                    &:hover {
                        color:#E11837;

                        .search-fill {
                            fill:#E11837;
                        }
                    }

                    &.btn-search {
                        svg {
                            width:em(24);
                            height:em(24);
                        }
                    }
                }
            }
        }
    }

}